@CHARSET "ISO-8859-1";

/* General position */

.header>* {
width: 100%;
min-height: 70px;
margin-top: 0px;
padding: 12px;
font-family: Candara;
position: fixed;
background-color: white;
}


.section {
	position: static;
	width: 100%;
	hight: 100%;
	border: 10px solid #e7ebe8;
	padding: 8%;
		 clear: left;
}
.section iframe {
    border: 2px solid black;
    margin-top: 65px;
}


.optionline {
	background-color: #e7ebe8; 
	width: 100%;
	position: fixed;
	padding: 5px;
	margin-top: 65px;

	
}

 /* dropdown */
 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
	color: black;
	background-color: #e7ebe8;
	font-family: Candara;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:active {
	color: #ff8000;
	opacity: 0.5;
}

.dropdown-content {
	display:none;
	position: absolute;
	right: 0;
	background-color: #c0c0c0;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
   font-family: Candara;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    	background-color: none;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	 text-decoration: none;
	 color: #ff8000;
	}

.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Create User css */


.informationbox {
float: left;
padding: 10px 20px;
width: 30%;
min-width: 200px;
}


input[type=text]{
    font-family: Candara;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

.searchForm,  .searchForm input[type=text]  {
	float: left;
	 width: 50%;
}
 
 .searchForm input[type=submit]{
    visibility: hidden;
    float: left;
}
    



.icon {
	padding: 10px;
}