
#PInput {
  width: 30%;
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  font-family: Candara;
}

#PTablecss {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}

.PTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}


#PTable th, #PTable td, #PTable input[type=button] {
  text-align: left;
  padding: 12px;
}

#PTable tr {
  border-bottom: 1px solid #ddd;
}

#PTable tr:hover {
color: #ff8000;
 background-color: #e7ebe8;
}

#PTable tr.header, #PTable tr.header:hover {
background-color: #e7ebe8;
color:black;
}

