@CHARSET "ISO-8859-1";

#RInput {
  width: 30%;
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  font-family: Candara;
}

#RTablecss {
  border-collapse: collapse;
  width: 10%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}

.RTable {
  border-collapse: collapse;
  width: 100%;
  align: text-center;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}


#RTable th, #RTable td, #RTable input[type=button] {
  text-align: center;
  padding: 12px;
}

#RTable tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#RTable tr:hover {
color: #ff8000;
 background-color: #e7ebe8;
}

#RTable tr.header, #RTable tr.header:hover {
background-color: #e7ebe8;
color:black;
}

.informationboxRecipe {
float: left;
padding: 10px 20px;
min-width: 200px;
font-family: Candara;
}

.informationboxRecipe input[type=text]{
	 font-family: Candara;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

/* table 2 */

#RLInput {
  width: 30%;
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  font-family: Candara;
}

#RLTablecss {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}

# RLTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Candara;
}


#RLTable th, #RLTable td {
  text-align: left;
  padding: 12px;
}

#RLTable tr {
  border-bottom: 1px solid #ddd;
}

#RLTable tr:hover {
color: #ff8000;
 background-color: #e7ebe8;
}

#RLTable tr.header, #RLTable tr.header:hover {
background-color: #e7ebe8;
color:black;
}